:root {
--yellow1011: #ffff00;
--white1011: #ffffff;
--hex1011: #314159;
--rgb1011: rgb(31, 41, 59);
--purple1011: #314;
--red1011: #ff0000;
--darkRed1011: #880000;
--green1011: #00ff00;
--darkGreen1011: #008800;
--blue1011: #0000ff;
--darkBlue1011: #000088;
--scrollbarBG: #1F293B;
--thumbBG: #314159;
}
@media only screen{
  body {
    background-color: var(--hex1011);
    color: var(--white1011)
  }
}
/* Navigation Bar Top */

/* Alerts */
/* Color Info
yellow  - Danger
hex     - Info Sticky
rgb     - Info Dismissable
red     - Important
green   - Success
blue    - Important Info

*/
alert {
  position:sticky;
  padding:.75rem 1.25rem;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:.25rem;
  margin-top:;
  color:var(--rgb1011);
  background-color:var(--yellow1011);
  border-color:var(--rgb1011);
}
alert-yellow {
  position:sticky;
  padding:.75rem 1.25rem;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:.25rem;
  margin-top:;
  color:var(--rgb1011);
  background-color:var(--yellow1011);
  border-color:var(--rgb1011);
}
alert-hex {
  position:sticky;
  padding:.75rem 1.25rem;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:.25rem;
  margin-top:;
  color:var(--white1011);
  background-color:var(--hex1011);
  border-color:var(--yellow1011);
}
alert-rgb {
  position:sticky;
  padding:.75rem 1.25rem;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:.25rem;
  margin-top:;
  color:var(--white1011);
  background-color:var(--rgb1011);
  border-color:var(--yellow1011);
}
alert-red {
  position:sticky;
  padding:.75rem 1.25rem;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:.25rem;
  margin-top:;
  color:var(--white1011);
  background-color:var(--darkRed1011);
  border-color:var(--red1011);
}
alert-green {
  position:sticky;
  padding:.75rem 1.25rem;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:.25rem;
  margin-top:;
  color:var(--white1011);
  background-color:var(--darkGreen1011);
  border-color:var(--green1011);
}
alert-blue {
  position:sticky;
  padding:.75rem 1.25rem;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:.25rem;
  margin-top:;
  color:var(--white1011);
  background-color:var(--darkBlue1011);
  border-color:var(--blue1011);
}
html {
  --scrollbarBG: #1F293B;
  --thumbBG: #314159;
}
body {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG) #FFFF00;
  overflow: auto;
  margin: 0 auto;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
html {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
/* Scrollbar */
body {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG) #FFFF00;
  margin: 0 auto;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
html {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
