@media only screen{
  nav {
    background-color: var(--hex1011);
    color: var(--yellow1011);
    width: 50vw;
    height: 10mm;
    position: fixed;
    border: 2px solid var(--rgb1011);
    top: 10px;
    left:25vw;
    border-radius: 5mm;
    z-index: 100
  }
  hamburger{
    position: relative;
    left: 0px
  }
  hamburger:hover {
    color-adjust: exact 3
  }
}
@media only print{
  nav{
    display:none
  }
}
nav hamburger {
  fill: var(--rgb1011);
}
nav hamburger:hover {
  fill: var(--white1011);
}
nav hamburger svg {
  height: 10mm;
}
nav a, nav dropdown a {
  position: relative;
  padding: 10px;
  top: calc(-5mm + 0.25em);
  margin: auto;
  color: var(--rgb1011);
}
nav a:hover, nav dropdown a:hover {
  color: var(--white1011)
}
nav{
  transition: 0.5s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}
nav.collapsed {
  width: 10mm;
  left: 50vw;
}
nav navigation {
  
}