<!-- cp.html -->
<div id="ColorPicker">
<div style="background-color: #314159;">#314159</div>
<div style="background-color: #1F293B;">#1F293B</div>
<div style="background-color: #CEBEA6;">#CEBEA6</div>

<div style="background-color: #CE4159;">#CE4159</div>
<div style="background-color: #31BE59;">#31BE59</div>
<div style="background-color: #3141A6;">#3141A6</div>

<div style="background-color: #31BEA6;">#31BEA6</div>
<div style="background-color: #CE41A6;">#CE41A6</div>
<div style="background-color: #CEBE59;">#CEBE59</div>
</div>
