<!-- ColorPicker 0.0.1 -->
<div id="ColorPicker">
<style>
  #ColorPicker > div {
    background-color: #314159;
    border-radius: 12.5px;
    margin: 0.086cm;
    padding: calc(1em/2 - 0.086cm);
  }
  #ColorPicker {
    max-width: 8cm;
    max-height: 3cm;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
  }
</style>
<div style="background-color: #314159;">#314159</div>
<div style="background-color: #1F293B;">#1F293B</div>
<div style="background-color: #CEBEA6;">#CEBEA6</div>

<div style="background-color: #CE4159;">#CE4159</div>
<div style="background-color: #31BE59;">#31BE59</div>
<div style="background-color: #3141A6;">#3141A6</div>

<div style="background-color: #31BEA6;">#31BEA6</div>
<div style="background-color: #CE41A6;">#CE41A6</div>
<div style="background-color: #CEBE59;">#CEBE59</div>
</div>