<!-- ContextMenu.html 22w12a -->
<ul class="ContextMenu" hidden="">
 <li class="ContextMenuHeader">Title</li>
 <li>
 <label for="TemplateCheckInput">Checkbox Option:	</label>
 <input type="checkbox" id="TemplateCheckInput" class="CheckboxInput" oninput="console.log('Option Checked')">
 </li>
 <li>
 <label for="TemplateColorInput">Color Input:	</label>
 <input type="text" id="TemplateColorInput" class="ColorInput" size="7" maxlength="7" value=" var(--TextColor)" pattern="#[0-9A-Fa-f]{6}" title="a hexadecimal color" oninput="console.log('Color Input Inputted')"></li>
 <li>
 <label for="TemplateNumberInput">Number Input:	</label>
 <input type="text" id="TemplateNumberInput" class="NumberInput" size="3" maxlength="3" value="10" pattern="\d+(\.\d+)?" title="a number" oninput="console.log('Number Input Inputted')"></li>
</ul>
{% capture head %}{{ head }}
<!-- ContextMenu Head -->
 <style>
 /* Context Menu */
 .ContextMenu{
 background-color: var(--AltColor);
 color: var(--TextColor);
 width: fit-content;
 position: fixed;
 border-radius: 12.5px;
 list-style-type:none;
 padding: 1px;
 margin: 0px;
 font-family: var(--SansFont);
 }
@media (prefers-color-scheme: light){
  .ContextMenu, hr{
    background-color: var(--TextColor);
  }
}
 .ContextMenu li{
 padding-left: 5px;
 padding-right: 5px;
 background-color: var(--AltColor);
 font-family: var(--SansFont);
 }
 .ContextMenu li:not(.ContextMenuHeader):hover{
 background-color: var(--BackgroundColor);
 }
 .ContextMenu li:first-child{
 border-top-left-radius: 12.5px;
 border-top-right-radius: 12.5px;
 }
 .ContextMenu li:last-child{
 border-bottom-left-radius: 12.5px;
 border-bottom-right-radius: 12.5px;
 }
 .ContextMenu > .NumberInput, .ContextMenu > .ColorInput{
 margin: 0px 0px 0px 0px;
 background-color: var(--AltColor);
 border: solid 1px var(--AltColor);
 border-radius: 12.5px;
 -moz-appearance: textfield;
 color: var(--TextColor);
 }
 .ContextMenu > .ColorInput:hover, .ContextMenu > .NumberInput:hover{
 background-color: var(--BackgroundColor);
 border: solid 1px var(--HighlightColor);
 border-radius: 12.5px;
 color: var(--HighlightColor);
 }
 .ContextMenu > .ColorInput:hover, .ContextMenu > .ColorInput:active, .ContextMenu > .NumberInput:hover, .ContextMenu > .NumberInput:active{
 background-color: var(--BackgroundColor);
 border: solid 1px var(--HighlightColor);
 border-radius: 12.5px;
 color: var(--HighlightColor);
 }
 ul.ContextMenu li input.CheckboxInput {
 margin: 0px;
 appearance: none;
 background-color: var(--AltColor);
 font: inherit;
 color: var(--TextColor);
 width: 0.75em;
 height: 0.75em;
 border: 1px solid var(--BackgroundColor);
 border-radius: 0.15em;
 display: inline grid;
 place-content: center;
 }
 ul.ContextMenu li input.CheckboxInput::before {
 content: "";
 top: 0.1em;
 left: 0.1em;
 width: 0.5em;
 height: 0.5em;
 border-radius: 0.15em;
 transform: scale(0);
 transform-origin: bottom left;
 background-color: var(--TextColor);
 }
 ul.ContextMenu li input.CheckboxInput:checked::before {
 transform: scale(1);
 }
 ul.ContextMenu li input.CheckboxInput:focus {
 outline: none;
 outline-offset: max(2px, 0.15em);
 }
 ul.ContextMenu li input.CheckboxInput{
 background-color: var(--TextColor);
 }
 ul.ContextMenu li:hover input.CheckboxInput{
 background-color: var(--BackgroundColor);
 border: 1px solid var(--HighlightColor);
 }
 ul.ContextMenu li input.CheckboxInput{
 background-color: var(--AltColor);
 border: 1px solid var(--TextColor);
 }
 body{
 width: 100vw;
 height: 100vh;
 }
 ul.ContextMenu li input.CheckboxInput{
 background-color: var(--AltColor);
 border: 1px solid var(--TextColor);
 }
 input:invalid, input:invalid:hover{
 border-color: #ce4159;
 color: var(--TextColor);
 }
 ul li:after {
  content: "";
  display: block;
  background-color: var(--BackgroundColor);
  height: 1px;
  margin: 0px;
  padding: 0px;
  border: none;
}
  </style>
  <script>
  window.addEventListener("load", function(){
  function MouseDown(e){
  if(e.button == 0){
  if(document.querySelector(".ContextMenu:hover") == null){
  if(!document.getElementsByClassName("ContextMenu")[0].hidden){
  document.getElementsByClassName("ContextMenu")[0].hidden = true;
  }
  }
  } else if(e.button == 0){
  if(document.querySelector(".ContextMenu:hover") == null){
  if(!document.getElementsByClassName("ContextMenu")[0].hidden){
  document.getElementsByClassName("ContextMenu")[0].hidden = true;
  }
  }
  } else if(e.button == 2){
    e.preventDefault();
    document.getElementsByClassName("ContextMenu")[0].style.left = e.clientX+"px";
    document.getElementsByClassName("ContextMenu")[0].style.top = e.clientY+"px";
    document.getElementsByClassName("ContextMenu")[0].hidden = false;
  }
  };
  document.oncontextmenu = function(e){
   e.preventDefault();
  }
    document.body.addEventListener("mousedown", MouseDown);
  })
  </script>
{% endcapture %}
