<ul class="ContextMenu" hidden="">
  <style>
    /* Context Menu */
    .ContextMenu{
      background-color: #1F293B;
      color: #6282B2;
      width: fit-content;
      position: absolute;
      border-radius: 12.5px;
      list-style-type:none;
      padding: 1px;
      margin: 0px;
      font-family: "karla";
    }
    hr{
      background-color: #314159;
      height: 1px;
      margin: 0px;
      padding: 0px;
      border: none;
    }
    li{
      padding-left: 5px;
      padding-right: 5px;
      background-color: #1F293B;
      font-family: "karla";
    }
    li:not(.ContextMenuHeader):hover{
      background-color: #314159;
    }
    li:nth-child(2){
      border-top-left-radius: 12.5px;
      border-top-right-radius: 12.5px;
    }
    li:nth-last-child(2){
      border-bottom-left-radius: 12.5px;
      border-bottom-right-radius: 12.5px;
    }
    .NumberInput, .ColorInput{
      margin: 0px 0px 0px 0px;
      background-color: #1F293B;
      border: solid 1px #1F293B;
      border-radius: 12.5px;
      -moz-appearance: textfield;
      color: #FFFFFF;
    }
    li:hover .ColorInput, .ColorInput:active, li:hover .NumberInput, .NumberInput:active{
      background-color: #314159;
      border: solid 1px #FFFF00;
      border-radius: 12.5px;
      color: #FFFF00;
    }
    ul.ContextMenu li input.CheckboxInput {
      margin: 0px;
      appearance: none;
      background-color: #1F293B;
      font: inherit;
      color: #FFF;
      width: 0.75em;
      height: 0.75em;
      border: 1px solid #314159;
      border-radius: 0.15em;
      display: inline grid;
      place-content: center;
    }
    ul.ContextMenu li input.CheckboxInput::before {
      content: "";
      top: 0.1em;
      left: 0.1em;
      width: 0.5em;
      height: 0.5em;
      border-radius: 0.15em;
      transform: scale(0);
      transform-origin: bottom left;
      background-color: #6282B2;
    }
    ul.ContextMenu li input.CheckboxInput:checked::before {
      transform: scale(1);
    }
    ul.ContextMenu li input.CheckboxInput:focus {
      outline: none;
      outline-offset: max(2px, 0.15em);
    }
    ul.ContextMenu li input.CheckboxInput{
      background-color: #FFF;
    }
    ul.ContextMenu li:hover input.CheckboxInput{
      background-color: #314159;
      border: 1px solid #FFFF00;
    }
    ul.ContextMenu li input.CheckboxInput{
      background-color: #1F293B;
      border: 1px solid #6282B2;
    }
    body{
      width: 100vw;
      height: 100vh;
    }
    ul.ContextMenu li input.CheckboxInput{
      background-color: #1F293B;
      border: 1px solid #6282B2;
    }
    input:invalid, input:invalid:hover{
      border-color: #ce4159;
      color: #6282B2;
    }
  </style>
  <li class="ContextMenuHeader">Title</li>
  <hr>
  <li>
    <label for="TemplateCheckInput">Checkbox Option:	</label>
    <input type="checkbox" id="TemplateCheckInput" class="CheckboxInput" oninput="console.log('Option Checked')">
  </li>
  <hr>
  <li>
    <label for="TemplateColorInput">Color Input:	</label>
    <input type="text" id="TemplateColorInput" class="ColorInput" size="7" maxlength="7" value="#FFFFFF" pattern="#[0-9A-Fa-f]{6}" title="a hexadecimal color" oninput="console.log('Color Input Inputted')"></li>
  <hr>
  <li>
    <label for="TemplateNumberInput">Number Input:	</label>
    <input type="text" id="TemplateNumberInput" class="NumberInput" size="3" maxlength="3" value="10" pattern="\d+(\.\d+)?" title="a number" oninput="console.log('Number Input Inputted')"></li>
    <script>
    function MouseDown(e){
  if(e.button == 0){
    if(document.querySelector(".ContextMenu:hover") == null){
      if(!document.getElementsByClassName("ContextMenu")[0].hidden){
        document.getElementsByClassName("ContextMenu")[0].hidden = true;
      }
    }
  } else if(e.button == 0){
    if(document.querySelector(".ContextMenu:hover") == null){
      if(!document.getElementsByClassName("ContextMenu")[0].hidden){
        document.getElementsByClassName("ContextMenu")[0].hidden = true;
      }
    }
  } else if(e.button == 2){
    e.preventDefault();
    document.getElementsByClassName("ContextMenu")[0].style.left = e.clientX+"px";
    document.getElementsByClassName("ContextMenu")[0].style.top = e.clientY+"px";
    document.getElementsByClassName("ContextMenu")[0].hidden = false;
  }
};
document.oncontextmenu = function(e){
  e.preventDefault();
}
document.body.addEventListener("mousedown", MouseDown);
  </script>
</ul>
