
<!-- FontsCSS.html 22w12a -->
<style id="FontsCSS.html">
/* Karla: Main Sans */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('{{ site.baseurl }}/Fonts/Karla/Karla-Regular.woff2') format('woff2'),
       url('{{ site.baseurl }}/Fonts/Karla/Karla-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('{{ site.baseurl }}/Fonts/Karla/Karla-Italic.woff2') format('woff2'),
       url('{{ site.baseurl }}/Fonts/Karla/Karla-Italic.woff') format('woff');
}

/* Architects Daughter: Main Hand */
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('{{ site.baseurl }}/Fonts/ArchitectsDaughter/ArchitectsDaughter-Regular.woff2') format('woff2'),
       url('{{ site.baseurl }}/Fonts/ArchitectsDaughter/ArchitectsDaughter-Regular.woff') format('woff');
}

/* Bitter: Main Serif */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('{{ site.baseurl }}/Fonts/Bitter/Bitter-Regular.woff2') format('woff2'),
       url('{{ site.baseurl }}/Fonts/Bitter/Bitter-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('{{ site.baseurl }}/Fonts/Bitter/Bitter-Italic.woff2') format('woff2'),
       url('{{ site.baseurl }}/Fonts/Bitter/Bitter-Italic.woff') format('woff');
}

/* M Plus Rounded 1c: Alt Sans */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('{{ site.baseurl }}/Fonts/MPlusRounded/MPlusRounded-Regular.woff2') format('woff2'),
       url('{{ site.baseurl }}/Fonts/MPlusRounded/MPlusRounded-Regular.woff') format('woff');
}

/* Klee One: Alt Hand */
@font-face {
  font-family: 'Klee One';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(''),
       url('{{ site.baseurl }}/Fonts/KleeOne/KleeOne-600.woff2') format('woff2'),
       url('{{ site.baseurl }}/Fonts/KleeOne/KleeOne-600.woff') format('woff');
}

/* STIX Two Text: Alt Serif */
@font-face {
  font-family: 'STIX Two Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('{{ site.baseurl }}/Fonts/STIXTwoText/StixTwoText-Regular.woff2') format('woff2'),
       url('{{ site.baseurl }}/Fonts/STIXTwoText/StixTwoText-Regular.woff') format('woff');
}
@font-face {
  font-family: 'STIX Two Text';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('{{ site.baseurl }}/Fonts/STIXTwoText/StixTwoText-Italic.woff2') format('woff2'),
       url('{{ site.baseurl }}/Fonts/STIXTwoText/StixTwoText-Italic.woff') format('woff');
}
</style>
