<!-- Nav 22w13c -->
<div id="nav">
  <div id="hamburger">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 16 16">
      <path d="M3 4h10a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2zm10 3H3a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2zm0 5H3a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2z"></path>
    </svg>
  </div>
  <div id="navigation">
    {% for link in site.data.#nav %}
    <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>
</div>
{% capture head %}{{ head }}
  <!-- Nav Head -->
  <style>
    :root{
      font-family: var(--SansFont);
    }
      #nav {
        background-color:  var(--BackgroundColor);
        color:  var(--TextColor);
        width: 50vw;
        height: 10mm;
        position: fixed;
        border: 2px solid  var(--TextColor);
        top: 10px;
        left: 25vw;
        border-radius: 5mm;
        z-index: 100;
        overflow-y: hidden;
        overflow-x: visible;
        scrollbar-width: none;
      }
      #hamburger {
        position: relative;
        left: 0px
      }
    #nav #hamburger {
      fill:  var(--TextColor);
      float: left
    }
    #nav #hamburger:hover {
      fill:  var(--HighlightColor);
    }
    #nav #hamburger svg {
      height: 10mm;
    }
    #nav #navigation a{
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      top: 2.5mm;
      color:  var(--TextColor);
    }
    #nav #navigation a:hover{
      color:  var(--HighlightColor)
    }
    #nav {
      transition: 0.5s ease-in-out;
      white-space: nowrap;
    }
    #nav.collapsed {
      width: 10mm;
      left: 50vw;
    }
    @media only print {
      nav {
        display: none
      }
    }
    #nav #hamburger, #nav #navigation{
      transition: all 0.5s ease-in-out;
    }
    #nav.Hidden{
      top: -10mm;
      opacity: 0;
    }
    #nav.Unobtrusive:not(:hover){
      transform: translateY(-10mm);
      opacity: 0.5;
    }
    #nav.Unobtrusive:not(:hover) #hamburger, #nav.Unobtrusive:not(:hover) #navigation{
      opacity: 0;
    }
  </style>
  <script>
    window.addEventListener("load", function(){
      document.getElementById("hamburger").addEventListener("click", function(){
        if (document.getElementById("nav").classList.contains("collapsed")) {
          document.getElementById("nav").classList.replace("collapsed","expanded")
          document.getElementById("nav").classList.add("expanded")
        } else {
          document.getElementById("nav").classList.replace("expanded","collapsed")
          document.getElementById("nav").classList.add("collapsed")
        }
      });
        if((new URLSearchParams(document.location.search)).get("nav") == "Hidden"){document.getElementById("nav").classList.add("Hidden")}
        if((new URLSearchParams(document.location.search)).get("nav") == "Unobtrusive"){document.getElementById("nav").classList.add("Unobtrusive")}
    }
  )
  </script>
  {% endcapture %}
