
<!-- StylesCSS.html 22w12a -->
<style id="StylesCSS.html">

  :root{
    --BackgroundColor: #314159;
    --AltColor: #1F293B;
    --HighlightColor: #CEBE59;
    --TextColor: #CEBEA6;
    --SansFont: "Karla", "M Plus Rounded 1c", sans-serif;
    --HandFont: "Architects Daughter", "Klee One", cursive, sans-serif;
    --SerifFont: "Bitter", "STIX Two Text", serif;
  }
@media (prefers-color-scheme: light){
  :root{
    --BackgroundColor: #CEBEA6;
    --AltColor: #CEBE3B;
    --HighlightColor: #6282B2;
    --TextColor: #314159;
  }
}
  @media only screen {
    body {
      background-color: var(--BackgroundColor);
      color: var(--TextColor)
    }
  }
  html {
    --scrollbarBG: var(--AltColor);
    --thumbBG: var(--BackgroundColor);
  }
  body {
    scrollbar-color: var(--BackgroundColor) var(--AltColor) var(--HighlightColor);
    overflow: auto;
    margin: 0 auto;
    font-family: var(--HandFont);
  }
  body::-webkit-scrollbar-track {
    background: var(--AltColor);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--BackgroundColor);
    border-radius: 6px;
    border: 3px solid var(--AltColor);
  }
  html {
    scrollbar-color: var(--BackgroundColor) var(--AltColor);
  }
  body {
    scrollbar-color: var(--BackgroundColor) var(--AltColor);
    margin: 0 auto;
  }
  body::-webkit-scrollbar-track {
    background: var(--AltColor);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--BackgroundColor);
    border-radius: 6px;
    border: 3px solid var(--AltColor);
  }
  html {
    scrollbar-color: var(--BackgroundColor) var(--AltColor);
  }
  a {
    color: var(--HighlightColor)
  }
  .Content {
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 15mm;
    color: var(--TextColor);
    font-family: var(--HandFont);
    width: 50vw;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
  }
  .HangingText {
    text-indent: -36px;
    padding-left: 36px;
  }
  .Karla {
    font-family: "Karla";
  }
  .ArchitectsDaughter{
    font-family: "ArchitectsDaughter";
  }
  .Bitter {
    font-family: "Bitter";
  }
  .MPLUSRounded1c {
    font-family: "M PLUS Rounded 1c";
  }
  .KleeOne {
    font-family: "Klee One";
  }
  .STIXTwoText {
    font-family: "STIX Two Text";
  }
  .Hand {
    font-family: var(--HandFont);
  }
  .Sans {
    font-family: var(--SansFont);
  }
  .Serif {
    font-family: var(--SerifFont);
  }
</style>
