
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
<style id="styles.css.html">
  :root{
    font-family: Karla, Arial, sans-serif;
  }
  @media only screen {
    body {
      background-color: #314159;
      color: #FFFFFF
    }
  }
  html {
    --scrollbarBG: #1F293B;
    --thumbBG: #314159;
  }
  body {
    scrollbar-color: #314159 #1F293B #FFFF00;
    overflow: auto;
    margin: 0 auto;
  }
  body::-webkit-scrollbar-track {
    background: #1F293B;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #314159;
    border-radius: 6px;
    border: 3px solid #1F293B;
  }
  html {
    scrollbar-color: #314159 #1F293B;
  }
  /* Scrollbar */
  body {
    scrollbar-color: #314159 #1F293B #FFFF00;
    margin: 0 auto;
  }
  body::-webkit-scrollbar-track {
    background: #1F293B;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #314159;
    border-radius: 6px;
    border: 3px solid #1F293B;
  }
  html {
    scrollbar-color: #314159 #1F293B;
  }
  .Content {
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 15mm;
    color: #FFFFFF;
    font-family: "Ink Free", cursive;
    width: 50vw;
  }
  .BodyText {
    position: absolute;
    text-align: justify;
  }
</style>
