
<!-- stylesCSS.html 22w12a -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter&display=swap">
<style id="stylesCSS.html">

  :root{
    --BackgroundColor: #314159;
    --AltColor: #1F293B;
    --HighlightColor: #CEBE59;
    --TextColor: #CEBEA6;
    --TextFont: "Karla", sans-serif;
    --HandFont: "Architects Daughter", cursive;
    --SerifFont: "Bitter", serif;
  }
@media (prefers-color-scheme: light){
  :root{
    --BackgroundColor: #CEBEA6;
    --AltColor: #CEBE3B;
    --HighlightColor: #6282B2;
    --TextColor: #314159;
  }
}
  @media only screen {
    body {
      background-color: var(--BackgroundColor);
      color: var(--TextColor)
    }
  }
  html {
    --scrollbarBG: var(--AltColor);
    --thumbBG: var(--BackgroundColor);
  }
  body {
    scrollbar-color: var(--BackgroundColor) var(--AltColor) var(--HighlightColor);
    overflow: auto;
    margin: 0 auto;
    font-family: var(--HandFont);
  }
  body::-webkit-scrollbar-track {
    background: var(--AltColor);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--BackgroundColor);
    border-radius: 6px;
    border: 3px solid var(--AltColor);
  }
  html {
    scrollbar-color: var(--BackgroundColor) var(--AltColor);
  }
  /* Scrollbar */
  body {
    scrollbar-color: var(--BackgroundColor) var(--AltColor) var(--HighlightColor);
    margin: 0 auto;
  }
  body::-webkit-scrollbar-track {
    background: var(--AltColor);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--BackgroundColor);
    border-radius: 6px;
    border: 3px solid var(--AltColor);
  }
  html {
    scrollbar-color: var(--BackgroundColor) var(--AltColor);
  }
  .Content {
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 15mm;
    color: var(--TextColor);
    font-family: var(--HandFont);
    width: 50vw;
    position: absolute;
    text-align: justify;
  }
</style>
