---
layout: default
title: hh.Layouts
description: hh.Layouts houses examples of all layouts on Hedwig Hall.
---
<!-- hh.Debug 22w13a -->
  <div id="PageOfText">
<p>Welcome to hh.Layouts<br>
This is a treasure trove full of layouts.<br>
There is only one layout, so you should be bored.<br>
Really, why are you still here?<br>
You can go to any page except <a href="/Clock/">hh.Clock</a> and see it.<br>
<a href="/Layouts/Default/">hh.Layouts.Default</a> is a page that just says content. Don't say I didn't warn you.<br>
  </p>
  </div>
