---
layout: default
title: hh.debug.multi-grid
description: hh.debug.multi-grid houses all but a few select pages in iframes from Hedwig Hall
lastmod: 2022-04-01
priority: 0.0
version: 24w44a
---
<div class="MultiGrid">
    {% for item in site.pages %}
      {% if item.url != "/debug/multi-grid/" and item.url != "/debug/debug-grid/" %}
        <iframe src="{{ item.url | prepend: site.baseurl | prepend: site.url }}?nav=Hidden"></iframe>
        {% endif %}
    {% endfor %}
<style>
.MultiGrid{
  position: fixed;
  top: 0px;
  left: 0px;
  display: grid;
  padding: 0px 0px 0px 0px;
  width: 100vw;
  height: 100vh;
  gap: 0px 0px;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
body .MultiGrid div{
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
.MultiGrid iframe{
  background-color: #314159;
  border: 1px solid #1F293B;
}
iframe{
  border: 1px solid #1F293B;
  width: calc(20vw - 2px) !important;
  height: calc(20vh - 2px) !important;
}
#nav #hamburger, #nav #navigation{
  transition: all 0.5s ease-in-out;
}
#nav:not(:hover){
  transform: translateY(-10mm);
  opacity: 0.5;
}
#nav:not(:hover) #hamburger, #nav:not(:hover) #navigation{
  opacity: 0
}
</style>
