---
layout: default
title: hh.Debug.MultiGrid
description: hh.Debug.MultiGrid houses all but a few select pages in iframes from Hedwig Hall.
---
<!-- hh.MultiGrid 22w13a -->
<div class="MultiGrid">
    {% for item in site.pages %}
      {% if item.url != "/Debug/MultiGrid/" and item.url != "/Debug/DebugGrid/" %}
        <iframe src="{{ item.url | prepend: site.baseurl | prepend: site.url }}?nav=Hidden" width="100%" height="100%"></iframe>
        {% endif %}
    {% endfor %}
<style>
.MultiGrid{
  position: fixed;
  top: 0px;
  left: 0px;
  display: grid;
  padding: 0px 0px 0px 0px;
  width: 100vw;
  height: 100vh;
  gap: 0px 0px;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
body .MultiGrid div{
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
.MultiGrid iframe{
  background-color: #314159;
  border: 1px solid #1F293B;
}
iframe{
  border: 1px solid #1F293B;
  width: calc(25vw - 2px);
  height: calc(25vh - 2px);
}
#nav #hamburger, #nav #navigation{
  transition: all 0.5s ease-in-out;
}
#nav:not(:hover){
  transform: translateY(-10mm);
  opacity: 0.5;
}
#nav:not(:hover) #hamburger, #nav:not(:hover) #navigation{
  opacity: 0
}
</style>
