<!DOCTYPE html>
<html lang="en">
  <head>
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% endif %}
      {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      {% endif %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/plain" rel="author" href="https://hedwighall.github.io/humans.txt" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    {%- include FontsCSS.html -%}
    {%- include StylesCSS.html -%}
{% capture body %}
      {%- include Nav.html -%}
      <div class="Content">
        {{ content }}
      </div>
      {%- include ContextMenu.html -%}
      {%- include F3.html -%}
{% endcapture %}
    {{ head }}
  </head>
  <body>
    {{ body }}
  </body>
</html>
