{% capture body %}
  {{ content }}
{% endcapture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/plain" rel="author" href="https://hedwighall.github.io/humans.txt" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    {{ head }}
    <style>
      {%- include styles.css -%}
      {%- include fonts.css -%}
      {%- include nav.css -%}
      {%- include cm.css -%}
      {%- include f3.css -%}
      {{ css }}
    </style>
    <script>
      window.addEventListener('load', () => {
      {%- include nav.js -%}
      {%- include cm.js -%}
      {%- include f3.js -%}
      {{ js }}
    })
    </script>
{{ head }}
<!-- {{ page.title }} Head {{ site.version }}-->
{{ page.head }}
  </head>
  <body>
    <!--[if lte IE 11]>
      <div>
        IE is not supported
      </div>
    <![endif]-->
    {%- include nav.html -%}
    <main class="Content">
    <!-- {{ page.title }} {{ site.version }}-->
        {{ body }}
    </main>
    {%- include F3.html -%}
    {% if cm %}{{ cm }}{% else %}{%- include cm.html -%}{% endif %}
  </body>
</html>
