<!DOCTYPE html>
<html lang="en">
  <head>
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% endif %}
    <meta name="description" content="Hedwig Hall is a web site full of usefull tools.">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/plain" rel="author" href="https://hedwighall.tk/humans.txt" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
    <style>
      {%- include styles.css -%}
      {%- include fonts.css -%}
      {%- include nav.css -%}
      {%- include cm.css -%}
      {{ css }}
    </style>
    <script>
      window.addEventListener('load', () => {
      {%- include nav.js -%}
      {%- include cm.js -%}
      {{ js }}
    })
    </script>
  </head>
  <body>
    {%- include nav.html name=page.title domain=page.domain -%}
      <div class="Content">
      <!-- {{ page.title }} -->
      {{ content }}
    </div>
  </body>
</html>
